<h1>{{title}}</h1>

<form id="post_form">
    <p>
    Think of a song that has a specific meaning to you.
    Why did you choose it?
    Add it!
    </p>
    <input type="text" name="song" placeholder="Song Name" />
    <input type="text" name="memory" placeholder="Describe your memory associated with this song, good or bad..." />
    <input type="text" name="name" placeholder="Your name" />
    <input type="submit" value="Add Song" />
</form>

{{#each posts}}
<div class="song" >
    <h2>{{this.song}}</h2>
    <p>{{this.memory}}</p>
    {{#each this.authors}}
    <p>By {{this.username}}</p>
    {{/each}}
    <p>On {{this.createdAt}}</p>
    <h3>Comments</h3>
    {{#each this.comments}}
    <p>{{this.content}}</p>
    {{/each}}

    <form class="comments_form">
        <input type="text" name="content" placeholder="Say something..." />
        <input type="submit" value="Submit Comment" />
    </form>

</div>
{{/each}}

